<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>BankApplication</display-name>
	<filter>
		<description>
		</description>
		<display-name>PwVald</display-name>
		<filter-name>PwVald</filter-name>
		<filter-class>controllers.PwVald</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PwVald</filter-name>
		<url-pattern>/PwVald</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>PwVald</filter-name>
		<servlet-name>ChangePw</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>controllers.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CheckBal</display-name>
		<servlet-name>CheckBal</servlet-name>
		<servlet-class>controllers.CheckBal</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangePw</display-name>
		<servlet-name>ChangePw</servlet-name>
		<servlet-class>controllers.ChangePw</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TransferAmt</display-name>
		<servlet-name>TransferAmt</servlet-name>
		<servlet-class>controllers.TransferAmt</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetStatement</display-name>
		<servlet-name>GetStatement</servlet-name>
		<servlet-class>controllers.GetStatement</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ApplyLoan</display-name>
		<servlet-name>ApplyLoan</servlet-name>
		<servlet-class>controllers.ApplyLoan</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>controllers.Logout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SendMail</display-name>
		<servlet-name>SendMail</servlet-name>
		<servlet-class>controllers.SendMail</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ForgotPw</display-name>
		<servlet-name>ForgotPw</servlet-name>
		<servlet-class>controllers.ForgotPw</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckBal</servlet-name>
		<url-pattern>/CheckBal</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePw</servlet-name>
		<url-pattern>/ChangePw</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TransferAmt</servlet-name>
		<url-pattern>/TransferAmt</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetStatement</servlet-name>
		<url-pattern>/GetStatement</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ApplyLoan</servlet-name>
		<url-pattern>/ApplyLoan</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SendMail</servlet-name>
		<url-pattern>/SendMail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForgotPw</servlet-name>
		<url-pattern>/ForgotPw</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>Login.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
